<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <app-progress></app-progress>
    </div>
    <div class="col-sm-6">
      <div class="d-flex justify-content-end">
        <app-attempts></app-attempts>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h6>Traduza a frase:</h6>
      <p>How are you?</p>


    </div>
    <div class="form-group">
      <textarea class="form-control" name="text-area" id="text-area" rows="3"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="d-flex justify-content-end">
        <button class="btn">Traduzir</button>
      </div>
    </div>
  </div>
</div>
